.list-group {
    max-height: 9.2rem;
    overflow: scroll;
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
}

.list-group-item {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}

.list-group-item:last-child {
    border-bottom: none;
}