{{appTimestamp}}
<div class="text-center">{{ nearest.dist | humanDistance }}</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h2 class=" nearest-station text-center">{{ nearest.station.shortName }}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-auto">
      <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-auto">
      <button type="button" class="btn btn-primary btn-lg" (click)="whenTrainOnClick()">Kiedy pociąg</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col ml-2 text-center">
      <h4>Warszawa</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let train of availableTrainsWwa" [routerLink]="['/train-detail', train.id, nearest.station.code]"
          routerLinkActive="active">
          {{getStationFromTrain(train, nearest.station.name) | trainStation}}
        </li>
      </ul>
    </div>
    <div class="col mr-2 text-center">
      <h4>Łuków</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let train of availableTrainsLuk" [routerLink]="['/train-detail', train.id, nearest.station.code]"
          routerLinkActive="active">
          {{getStationFromTrain(train, nearest.station.name) | trainStation}}
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col col-train-detail">
      
    </div>
  </div> -->
</div>
<div id="train-detail">
  <router-outlet></router-outlet>
</div>
<!--<hr>
<pre>Selected time: {{time | json}}</pre>
<pre>Selected time: {{date}}</pre>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    {{ timetable }}
    {{ lat }}&nbsp;{{ long }}<br />
    {{ nearest.name }} {{ nearest.dist }}
  </h1>
</div>//-->