<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-auto">
      <h1 class="">{{ nearest.name }} {{ nearest.dist }}m</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-auto">
      <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-auto">
      <button type="button" class="btn btn-primary btn-lg" (click)="whenTrainOnClick()">Kiedy pociąg</button>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-auto">
        <!-- {{ lat }}&nbsp;{{ long }}<br />
        {{ nearest.name }} {{ nearest.dist }} -->
      <h2>Warszawa</h2>
      <ul class="list-group" *ngFor="let train of availableTrainsWwa">
        <li class="list-group-item">{{getStationFromTrain(train, nearest.name) | trainStation}}</li>
      </ul>
      <!--
      {{getStationFromTrain(train, nearest.name) | json}} {{getEndStation(train) | json}} {{getDirection(train)}} {{isCisie(train)}} {{train.num}}
      //-->
    </div>
    <div class="col col-md-auto">
        <h2>Łuków</h2>
        <ul class="list-group" *ngFor="let train of availableTrainsLuk">
          <li class="list-group-item">{{getStationFromTrain(train, nearest.name) | trainStation}}</li>
        </ul>
      </div>
  </div>
</div>
<!--<hr>
<pre>Selected time: {{time | json}}</pre>
<pre>Selected time: {{date}}</pre>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    {{ timetable }}
    {{ lat }}&nbsp;{{ long }}<br />
    {{ nearest.name }} {{ nearest.dist }}
  </h1>
</div>//-->